  
							/* Позиция первой картинки */
  .wrapper {
    Xdisplay: inline-block;
	position: absolute;
    right: 157px;
    Xleft: 1112px;
    top: 50px;
    Xpadding-right: 30px;
    width: 207px;
    height: 52px;
    Xvertical-align: top;
    Xmargin: 1em 1.5em 2em 80em;
    Xcursor: url(../jpg/Hammer.ani), pointer;
    Xposition: relative;
    Xfont-family: Tahoma, Arial;
    -webkit-perspective: 4000px;
       -moz-perspective: 4000px;
        -ms-perspective: 4000px;
         -o-perspective: 4000px;
            perspective: 4000px;
  }
  
  .item {
    height: 60px;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform .6s;
         -moz-transition: -moz-transform .6s;
          -ms-transition: -ms-transform .6s;
           -o-transition: -o-transform .6s;
              transition: transform .6s;
  }
  
    .item:hover {
      -webkit-transform: translateZ(-26px) rotateX(95deg);
         -moz-transform: translateZ(-26px) rotateX(95deg);
          -ms-transform: translateZ(-26px) rotateX(95deg);
           -o-transform: translateZ(-26px) rotateX(95deg);
              transform: translateZ(-26px) rotateX(95deg);
    }
	
    						/* Свойства второй картинки */
      .item:hover img {
		Xbox-shadow: 0px 3px 8px rgba(0,0,0,0.3);
        border-radius: 1px;
      }
      .item:hover .information {
        Xbox-shadow: 0px 3px 8px rgba(0,0,0,0.3);
        Xborder-radius: 20px;
      }
	  
    						/* Свойства первой картинки */
    .item img {
      display: block;
      position: absolute;
      top: 0;
      border-radius: 1px;
      box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
      -webkit-transform: translateZ(26px);
         -moz-transform: translateZ(26px);
          -ms-transform: translateZ(26px);
           -o-transform: translateZ(26px);
              transform: translateZ(26px);
      -webkit-transition: all .6s;
         -moz-transition: all .6s;
          -ms-transition: all .6s;
           -o-transition: all .6s;
              transition: all .6s;
      
    }
    
    .item .information {
      display: block;
      position: absolute;
      top: 0;
      height: 52px;
      width: 207px;
      Xtext-align: left;
      Xborder-radius: 15px;
      Xpadding: 10px;
      Xfont-size: 12px;
      Xtext-shadow: 1px 1px 1px rgba(255,255,255,0.5);
      box-shadow: none;
      Xbackground: rgb(236,241,244);
      Xbackground: -moz-linear-gradient(top,  rgba(236,241,244,1) 0%, rgba(190,202,217,1) 100%);
      Xbackground: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,241,244,1)), color-stop(100%,rgba(190,202,217,1)));
      Xbackground: -webkit-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      Xbackground: -o-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      Xbackground: -ms-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      Xbackground: linear-gradient(to bottom,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      Xfilter: progid:DXImageTransform.Microsoft.gradient
	  ( startColorstr='#ecf1f4', endColorstr='#becad9',GradientType=0 );
      -webkit-transform: rotateX(-90deg) translateZ(50px);
         -moz-transform: rotateX(-90deg) translateZ(50px);
          -ms-transform: rotateX(-90deg) translateZ(50px);
           -o-transform: rotateX(-90deg) translateZ(50px);
              transform: rotateX(-90deg) translateZ(50px);
      -webkit-transition: all .6s;
         -moz-transition: all .6s;
          -ms-transition: all .6s;
           -o-transition: all .6s;
              transition: all .6s;
      
    }
    
      }


