body.test1
{	
	 margin-top: 0;
	 background-image:url(../jpg/fon_Kirpich.jpg);
	 background-repeat: repeat;
}       

.remont {
    position: absolute;
    left: 600px;
    top: 20px;
}

.menu_left1 A
{
    color: black;
}

.menu_left1 A,
.menu_left1 A:hover,
.activeMenu_left1 A,
.activeMenu_left1 A:hover                
{
    font-weight: bold;
    font-family: Monotype Corsiva;
    font-size: 170%;
    text-decoration: none; 
}

/* Фон без стрелки */
.menu_left1 A
{
    position: relative;
    top: 7px;
    display: block;
    background-image: url(../jpg/fon1.jpg);
    background-repeat: no-repeat;
}

/* Фон со стрелкой */
.menu_left1 A:hover
{
    color: #ffe97c; 
    position: relative;
    top: 7px;
    display: block;
    background-image: url(../jpg/fon2.jpg);
    background-repeat: no-repeat;
}

/* Нажатая ссылка */
.activeMenu_left1 A,
.activeMenu_left1 A:hover
{
    color: #F4D871;
    position: relative;
    top: 7px;
    display: block;
    background-image: url(../jpg/fon2.jpg);
    background-repeat: no-repeat;                      
}

.activeMenu_left1 A:hover
{
    color: #ffffff;
}
 
.menu_left1-1 A,
.menu_left A:hover,
.activeMenu_left1-1 A,
.activeMenu_left1-1 A:hover
{
    color: black;
    font-family: Monotype Corsiva;
    font-size: 145%;
    text-decoration: none; 
}

/* Фон без стрелки */
.menu_left1-1 A
{
    position: relative;
    top: 14px;
    left: 40px;
}

/* Фон со стрелкой */
.menu_left1-1 A:hover
{
    color: #FFE300; 
}

/* Нажатая ссылка */
.activeMenu_left1-1 A,
.activeMenu_left1-1 A:hover
{
    color: yellow; 
    background-color: 559900; /*#669900;*/
    background-image: none;                      
}   

span.pervue_slova
{
    font-weight: bold;
    font-size: 110%;
}
        
.menu_right A
{
    text-decoration: none;
    color: black;
}
.menu_right
{
    text-align: center;
    font-size: 15pt;
    font-family: Monotype Corsiva;
}
.menu_right A:hover
{
    color: red;
}
        
div.zagolovok
{
    font-size: 30pt;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: -6px;
    color: #A71D00;
}
        
p.text
{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-size: 116%;
    font-family: Times New Roman;
    line-height: 22px;
}
        
.cena_slova 
{
    font-size: 110%;
    font-family: Times New Roman;
    padding-left: 150px;
}

.cena_slova A
{
    text-decoration: none;
    color: black;
}

.cena_slova A:hover
{
    color: yellow;
}
        
.cena_slova2
{
    font-size: 110%;
    padding-left: 150px;
    color: #FF5000;
}
       
div.text2
{
    padding-left: 10px;
    font-size: 110%;
}

div.teg
{
	position:'relative';
	left:'10%';
	color:'#0000ff';
	font-family:'lucida console';
	font-weight:'700';
} 

h1.www
{
	background-attachment:'scroll';
	background-color:'#ddeedd';
	background-image:url(../jpg/www.jpg);
	background-position:'right';
	background-repeat:'no-repeat';
	color:'#ff0000';
	font-family:'arial';
	font-size:'400%';
	font-style:'italic';
	font-weight:'700';
} 

h1.blue_huge
{
	border-color:'#00aa00';
	border-style:'outset';
	border-width:'1mm';
	background-color:'#ddeedd';
	color:'#0000ff';
	font-family:'lucida console';
	font-size:'400%';
	font-weight:'400';
} 

h1.opisatelq
{
	background-color:'#ddeedd';
	color:'#883300';
	font-family:'lucida console';
	font-size:'150%';
	font-style:'normal';
	font-weight:'400';
} 

h1.teg
{
	position:'relative';
	left:'10%';
	font-family:'lucida console';
	font-weight:'700';
} 

span.font72pt
{
	font-size:'72pt';
	color:'#0000dd';
} 

span.red
{
	font-size:'24pt';
	color:'#cc0000';
}  

span.teg
{
	color:'#0000ff';
	font-family:'lucida console';
	font-weight:'700';
} 

textarea.html
{
	height:'30%';
	width:'100%';
	background-color:'#f0f5e9';
	color:'#0000cc';
	font-family:'lucida console';
	font-size:'100%';
} 

.top 
{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-image: url(../jpg/chevron-up.svg);
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 22px;
    box-shadow: none;
    display: none;
}

.icon_top
{
    position: relative;
    width: 31px;
    padding-top: 4px;
    z-index: -1;
}

.top:hover
{
    border: 0px solid #dad6d9;
    box-shadow: 0 0 5px 1px #dad6d9, inset 0 0 18px #dad6d9;
}